.container {
  height: 100vh;
  background-color: aquamarine;
  display: flex;
}

.left {
  background-color: blue;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px 40px 20px 20px;
}
.right {
  background-color: red;
  width: 100%;
}

h2 {
  font-size: 60px;
}
