body {
    background-color: black;
}

h1 {
    font-size: 80px;
    line-height: 0.5rem;
}

.hero {
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}